page-find-id1 {
	ion-content ion-grid input{
    border: 0px;
    display: block;
    text-indent: 10px;
    background: #fff;
    width: 100%;
    font-size: inherit;
    color: inherit;
    line-height: 45px;
    height: 50px;
    box-sizing: border-box;}
	ion-content ion-grid ion-col{text-align: center;}
    ion-content ion-grid ion-col button{height:100% !important;margin:0px !important;}
}
