popover2 {
	ion-list {margin-bottom: 10px !important;padding: 15px 8px 0px 8px; }
	ion-list button{font-size: 1.5rem;background-color: #ffffff;}
	

}
.popover-content{
	width: 150px !important;
	right: 30px !important;
}