page-find-password3 {
	ion-content input{
    border:0px;
    display: block;
    text-indent: 10px;
    background: #fff;
    width: 100%;
    font-size: inherit;
    color: inherit;
    line-height: 45px;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 5px;}
	ion-content ion-col{text-align: center;}
    ion-content ion-col button{height:100% !important;margin:0px !important;}
}
