page-setting {

  ion-content{background-color: #ffffff !important;}
  	.thumbnail{
		position: relative;
		width: 150px;
		height: 150px;
		overflow: hidden;
		margin: 20px auto;
		border-radius: 50%;
	}
	.thumbnail img {
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  //height: 100%;
	  -webkit-transform: translate(-50%,-50%);
	      -ms-transform: translate(-50%,-50%);
	          transform: translate(-50%,-50%);
	  
	}
	.thumbnail img.portrait {
	  width: 100%;
	  height: auto;
	}
	table{width: 100%;}
	table td{padding: 8px;border:1px solid #e3e3e3;}
	table td:nth-child(1){text-align:center;width: 25% !important;}
	table td input{width:100%;border:0px;}
	.text-input{

		margin:0px !important;
	}
}
