page-find-password1 {
ion-content input{
	border:0px;
    display: block;
    text-indent: 10px;
    background: #fff;
    width: 100%;
    font-size: inherit;
    color: inherit;
    line-height: 45px;
    height: 50px;
    box-sizing: border-box;}

}
